* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: rgba(0,0,0,.7);    
}

.board {
    display: block;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 400px;
}

.grid > div {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255,0.2);
    width: 40px;
    height: 40px;
}

#player {
    border: 2px solid black;
    background: blue;
}

#opponent {
    border: 2px solid black;
    background: rgb(104, 202, 235);
}

#shipyard {
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 300px;
    background: rgb(70, 50, 13);
}

.ship {
    display: flex;
    border: 1px solid black;
    margin: 10px;
    background: gray;
}

.ship div {
    width: 40px;
    height: 40px;    
}

.destroyer-hull {
    border-radius: 30% 50% 50% 30%;
    width: 80px;
    height: 40px;
}

.submarine-hull {
    padding: 3px;
    border-radius: 50%;
    width: 120px;
    height: 40px;
    background: yellow;
}
#submarine-1 {
    border: 1px solid black;
    border-radius: 50%;
}

.cruiser-hull {
    border-radius: 50%;
    width: 120px;
    height: 40px;
}
#cruiser-1 {
    outline: 1px solid black;
    outline-offset: -10px;
}

.battleship-hull {
    border-radius: 50%;
    width: 160px;
    height: 40px;
}
#battleship-1, #battleship-2{
    outline: 1px solid black;
    outline-offset: -10px;
}

.carrier-hull {
    border-radius: 10% 20% 20% 10%;
    width: 200px;
    height: 40px;
}
#carrier-1 {
    outline: 1px solid black;
    outline-offset: -10px;
}

.destroyer, .submarine, .cruiser, .battleship, .carrier {
    background: gray;
    border: 1px solid black;
}

